@mport url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
}

p {
    margin: 0;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 15px;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

.main-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 20px;
}

.footer {
    margin: 0 20px;
}

.footer-item {
    color: #2b2725;
    text-decoration-color: #2b2725;
    text-decoration-thickness: 1px;
    transition: all 0.5s;
    margin: 0 5px;
}

.footer-item:hover {
    color: black;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}

.section.section-left {
    width: 25%;
}

.section.section-right {
    width: 75%;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.page-width {
    max-width: 1440px;
}

.objective-desc, ul {
    max-width: 700px;
}

.item-header, .sub-header, label {
    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    padding-left: 20px;
}

.name {
    font-size: 18px;
    /* font-family: 'P'; */
    font-weight: 700;
}

.contact-form {
    margin: 0 20px;
}

input, textarea {
    border: 1px solid #2b2725;
    outline: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 10px 0;
    color: #2b2725;
}

input:focus, textarea:focus {
    outline: none;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: #2b2725;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 700;
    transition: background-color 0.5s;
}

button[type="submit"]:hover, button[type="submit"]:focus {
    outline: none;
    background-color: black;
}

@media (max-width: 1024px) {
    .section.section-left {
        width: 40%;
    }
    
    .section.section-right {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }
    .main-grid {
        flex-direction: column;
        align-items: center;
    }
    .section.section-left {
        width: 100%;
    }
    
    .section.section-right {
        width: 100%;
    }
    .image {
        display: flex;
        justify-content: center;
    }
    .name {
        text-align: center;
    }
    .objective-desc {
        text-align: justify;
    }
}